{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a href="" class="btn btn-success">Guigui♥</a>
</div>
{% endblock %}
